<div id="login">
  <div class="login-card">
    <h2>Login</h2>
    <form id="loginform">
      <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2>Signup</h2>
    <form id="signupform">
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>